APP_NAME=Imagery
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:3000
APP_HASH_SECRET=changeme
APP_MAX_UPLOAD_SIZE=32 # MB
APP_MAX_CHUNK_SIZE=1 # MB
APP_ADMIN_EMAIL="mail@example.com"
APP_ADMIN_NAMES="Alice & Bob"
APP_IMPRINT_ADDR="The GREENS of the world<br>Road to Everywhere<br>Planet Earth"
APP_LOGO_OVERLAY=false

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=imagery
DB_USERNAME=imagery
DB_PASSWORD=imagery

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=from@example.com
MAIL_FROM_NAME=Example

KEYCLOAK_BASE_URL=https://your-server.com/auth
KEYCLOAK_REALM=
KEYCLOAK_REALM_PUBLIC_KEY= # see Keycloak >> Realm Settings >> Keys >> RS256 >> Public Key
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_CACHE_OPENID=true # set to false for testing

CROWDIN_USER=crowdinuser
CROWDIN_PASS=crowdinpass

# Canton Email Addresses (Testing)
CANTON_EMAIL_ZH="test-zh@example.com"
CANTON_EMAIL_VD="test-vd@example.com"
CANTON_EMAIL_BE="test-be@example.com"

# # Canton Email Addresses (German-speaking cantons)
# CANTON_EMAIL_AG="ag@example.com"
# CANTON_EMAIL_AR="ar@example.com"
# CANTON_EMAIL_BS="bs@example.com"
# CANTON_EMAIL_BASTA="basta@example.com"
# CANTON_EMAIL_BL="bl@example.com"
# CANTON_EMAIL_BE="be@example.com"
# CANTON_EMAIL_GL="gl@example.com"
# CANTON_EMAIL_GR="gr@example.com"
# CANTON_EMAIL_LU="lu@example.com"
# CANTON_EMAIL_NW="nw@example.com"
# CANTON_EMAIL_OW="ow@example.com"
# CANTON_EMAIL_SH="sh@example.com"
# CANTON_EMAIL_SZ="sz@example.com"
# CANTON_EMAIL_SO="so@example.com"
# CANTON_EMAIL_SG="sg@example.com"
# CANTON_EMAIL_TG="tg@example.com"
# CANTON_EMAIL_UR="ur@example.com"
# CANTON_EMAIL_TI="ti@example.com"
# CANTON_EMAIL_ZG="zg@example.com"
# CANTON_EMAIL_ZH="zh@example.com"

# # Canton Email Addresses (French-speaking cantons)
# CANTON_EMAIL_FR="fr@example.com"
# CANTON_EMAIL_VD="vd@example.com"
# CANTON_EMAIL_NE="ne@example.com"
# CANTON_EMAIL_GE="ge@example.com"
# CANTON_EMAIL_JU="ju@example.com"
